
.contenedorTienda{
  display: flex;
  background-color: rgb(255, 81, 81);
  gap: 8px;
  width: 100vw;
  height: fit-content;
}

.articulo{
  display: flex;
  height: 400px;
  width: 300px;
  background-color: rgb(255, 150, 150);
}
